<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/doorbell.js"></script>
</head>
<body>
    <h2>
        Hello World!
    </h2>
    <table>
        <tbody>
            <tr><th>Upstairs:</th><td id="upstairs_status">...</td></tr>
            <tr><th>Downstairs:</th><td id="downstairs_status">...</td></tr>
            <tr><th>E-Mail:</th><td id="email_status">...</td></tr>
            <tr><th>SMS:</th><td id="sms_status">...</td></tr>
        </tbody>
    </table>
</body>
</html>